/*Code taken from https://scriptcodes.co/css-beer-single-div-octoberfest-rzbpma */
.beer {
    position: relative;
    height: 50px;
    width: 37px;
    min-width: 37px;
    margin-top: 20px;
    background-image: -webkit-radial-gradient(65px 15px at 50% 103%, #f1ecdb 40%, rgba(0, 0, 0, 0) 40%), -webkit-radial-gradient(4px 6px at 15% 67%, #ffe799 80%, rgba(0, 0, 0, 0) 83%), -webkit-radial-gradient(4px 6px at 15% 18%, #ffe799 80%, rgba(0, 0, 0, 0) 83%), -webkit-radial-gradient(6px 6px at 25% 85%, #ffda66 80%, rgba(0, 0, 0, 0) 80%), -webkit-radial-gradient(17px 30px at 15% 90%, #ffc200 70%, rgba(0, 0, 0, 0) 70%), -webkit-radial-gradient(17px 17px at 15% 5%, #ffc200 70%, rgba(0, 0, 0, 0) 70%), -webkit-linear-gradient(left, transparent 0%, transparent 10%, #ffe799 10%, #ffe799 20%, transparent 20%), -webkit-radial-gradient(4px 4px at 70% 45%, #fecf75 80%, rgba(0, 0, 0, 0) 80%), -webkit-radial-gradient(5px 5px at 35% 27%, #ffda66 80%, rgba(0, 0, 0, 0) 80%), -webkit-radial-gradient(3px 3px at 80% 12%, #fecf75 80%, rgba(0, 0, 0, 0) 80%), -webkit-radial-gradient(4px 4px at 60% 81%, #fecf75 80%, rgba(0, 0, 0, 0) 80%), -webkit-radial-gradient(3px 3px at 89% 89%, #fecf75 80%, rgba(0, 0, 0, 0) 80%), -webkit-radial-gradient(5px 5px at 77% 78%, #fecf75 80%, rgba(0, 0, 0, 0) 80%), -webkit-radial-gradient(3px 3px at 40% 57%, #ffda66 80%, rgba(0, 0, 0, 0) 80%), -webkit-linear-gradient(left, #ffc200 50%, #fdac10 50%);
    background-image: radial-gradient(65px 15px at 50% 103%, #f1ecdb 40%, rgba(0, 0, 0, 0) 40%), radial-gradient(4px 6px at 15% 67%, #ffe799 80%, rgba(0, 0, 0, 0) 83%), radial-gradient(4px 6px at 15% 18%, #ffe799 80%, rgba(0, 0, 0, 0) 83%), radial-gradient(6px 6px at 25% 85%, #ffda66 80%, rgba(0, 0, 0, 0) 80%), radial-gradient(17px 30px at 15% 90%, #ffc200 70%, rgba(0, 0, 0, 0) 70%), radial-gradient(17px 17px at 15% 5%, #ffc200 70%, rgba(0, 0, 0, 0) 70%), linear-gradient(to right, transparent 0%, transparent 10%, #ffe799 10%, #ffe799 20%, transparent 20%), radial-gradient(4px 4px at 70% 45%, #fecf75 80%, rgba(0, 0, 0, 0) 80%), radial-gradient(5px 5px at 35% 27%, #ffda66 80%, rgba(0, 0, 0, 0) 80%), radial-gradient(3px 3px at 80% 12%, #fecf75 80%, rgba(0, 0, 0, 0) 80%), radial-gradient(4px 4px at 60% 81%, #fecf75 80%, rgba(0, 0, 0, 0) 80%), radial-gradient(3px 3px at 89% 89%, #fecf75 80%, rgba(0, 0, 0, 0) 80%), radial-gradient(5px 5px at 77% 78%, #fecf75 80%, rgba(0, 0, 0, 0) 80%), radial-gradient(3px 3px at 40% 57%, #ffda66 80%, rgba(0, 0, 0, 0) 80%), linear-gradient(to right, #ffc200 50%, #fdac10 50%);
    border-radius: 0 0 15% 15%;
    border: 3px solid #f1ecdb;
    /*mug*/
    box-sizing: border-box;
}
.beer:before {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 0 50% 50% 0;
    height: 25px;
    width: 17px;
    top: 7px;
    right: -16px;
    background-color: transparent;
    box-sizing: border-box;
    border: 4px solid #f1ecdb;
    /*mug handle*/
    border-left: 4px solid transparent;
}
.beer:after {
    content: '';
    position: absolute;
    top: -20%;
    right: 20%;
    height: 5px;
    width: 5px;
    background: #fffef8;
    border-radius: 8px;
    box-shadow: 0 5px 0 3px #fff9de, 0 3px 0 3px #fffef8, -13px 3px 0 2px #fff9de, -19px 3px 0 3px #fffef8, -25px 4px 0 2px #fff9de, -7px 0 0 3px #fffef8, 7px 3px 0 3px #fffef8, -16px -4px 0 2px #fffef8, -9px -7px 0 2px #fff9de, -2px -3px 0 2px #fff9de, 3px -2px 0 1px #fffef8, 4px -3px 0 0px #fff9de, 12px 3px 0 0px #fff9de;
}