/* index.html */
.columns {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 1%;
}

.rows {
  display: flex;
  flex-direction: row;
}

.button {
  flex: 1;
  flex-grow: 1;
  width: 300px;
  height: 300px;
  float: left;
  padding: 10px;
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(2px);
  transform: scale(1);
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button:hover {
  filter: blur(0);
  transform: scale(0.9);
}

#indexBody {
  background-color: #333;
}

.textIndex {
  color: white;
  text-align: center;
}

/* map.html */
#map {
  height: 500px; 
  width : 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#mapBody {
  background-color: black;
}

/* General utils */
.arrow {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}